#NewReddit {
  color: white;
  text-align: left;
  background-color: #FF4500;
  font-weight: bold;
  width: 154px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 0;
  float: left;
}

#planet{
  width: 20px;
}

#nav{
  text-align: left;
}

#select{
  width: 105px;
}

.titleAndLogo{
  font-weight: bold;
  /* font-size: */
}

#turtle{
  width: 75px;
}